.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rdata
.httr-oauth
.DS_Store
inst/doc
/doc/
/Meta/
two_stage_note.aux
two_stage_note.bcf
two_stage_note.log
.gitignore
two_stage_note.bib
two_stage_note.run.xml
